$margin: 0;
$padding: 0;
$width: 100%;
$height: 100%;
body,html,p,span,a,ul,li{
    margin: $margin;
    padding: $padding;
    text-decoration: none;
    list-style: none;
}
html,body{
    height: 100%;
    background: #fca738;
}
.wrap{
    width: $width;
    .header{
        width: $width;
        height: 3.234375rem;
        background: #fca738;
        a{
            position: absolute;
            right: 1.5625rem;
            top: .78125rem;
            width: 1.40625rem;
            line-height: 1.40625rem;
            text-align: center;
            display: inline-block;
            font-size: .46875rem;
            color: white;
            background: #c87100;
            border-radius: 50%;
        }
    }
    .banner{
        img{
            width: 100%;
            height: 9.875rem;
        }
    }
    .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2.8125rem;
        background: #ffdbaa;
        padding: .390625rem .3125rem;
        box-sizing: border-box;
        a{
            display: flex;
            display: inline-block;
            vertical-align: middle;
        }
        a:nth-child(1){
            img{
                width: 2.125rem;
                height: 2.140625rem;
            }
        }
        a:nth-child(2){
            color: #fca738;
            font-size: .46875rem;
            margin: 0 .3125rem 0 .703125rem;
            box-sizing: border-box;
        }
        a:nth-child(3){
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            display: inline-block;
            font-size: .46875rem;
            color: white;
            background: #c87100;
            border-radius: 50%;
            margin-top: -0.234375rem;
            box-sizing: border-box;
        }
    }
}